* {
  font-size: 62.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-closemode-: linear-gradient(45deg, #190361 0%, #b0f 100%);
  --shakeAnimation-: Shake 150ms infinite;

  /*cooking settings*/

  --bgCookie-: url(./assets/Ebene\ 4.svg);
  --imgHoverAni-: Shake 300ms infinite;
  --imgPaddingAni-: 9.5rem 0 0 0;

  --imgHeight-: 15rem;
  --imgWidth-: 16rem;
  --imgMargin-: auto;
  --imgPaddingfixed-: 0;
  --transitionTest-: padding 2s;
  --SpaceTopCookie-: 0;
  --SpaceLeftCookie-: -1rem;
  --AniShowText-: none;

  --positionH3-: none;
}

body {
  background: var(--bg-closemode-);

  width: 100%;
  height: 100vh;
}

main {
  border-radius: 0.4rem;

  margin: auto;
  margin-top: 7rem;

  width: 42rem;

  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.8);

  background: #fff;
}

.contentMiddle {
  width: 30rem;
  height: 31rem;

  > h1,
  h3 {
    text-align: center;
    font-family: montserrat, sans-serif;
  }
  > h1 {
    font-size: 2.4rem;
    color: #34455b;
    margin-bottom: 2rem;
  }

  > h3 {
    margin: auto;
  }
}
.subTitleDiv {
  position: var(--positionH3-);
  background: rgba(178, 173, 173, 0.656);
  box-shadow: 0rem 0.2rem 0.2rem 0.2rem black;
  font-size: 2rem;
  font-family: Dancing Script, sans-serif;
  text-shadow: 1px 0.1rem 3rem black;
  color: rgb(79, 69, 69);
  height: fit-content;
  animation: var(--AniShowText-);
}

.imgBox {
  transition: var(--transitionTest-);

  padding: var(--imgPaddingfixed-) 0 0 0;

  height: 23.5rem;

  > .imgTest {
    background: var(--bgCookie-) no-repeat bottom;
    position: relative;
    top: var(--SpaceTopCookie-);
    left: var(--SpaceLeftCookie-);
    height: var(--imgHeight-);
    width: var(--imgWidth-);

    margin: auto;
  }
  > .imgTest:hover {
    animation: var(--imgHoverAni-);
    cursor: pointer;
  }
}
.imgBox:hover {
  padding: var(--imgPaddingAni-);
}

.btnTryAgain {
  display: none;
  position: relative;

  background: #ff9500;

  top: 2.5rem;
  left: 11.5rem;

  width: 7rem;

  padding: 1rem;

  border-radius: 4px;
}
.btnTryAgain:hover {
  cursor: pointer;
}

/*adicionar uma classe Disable para retirar o hover*/
.openMode {
  --bgCookie-: url(./assets/opened-cookie.svg);
  --imgHoverAni-: none;
  --imgPaddingAni-: none;

  --imgHeight-: 11rem;
  --imgWidth-: 19rem;
  --SpaceTopCookie-: 2.5rem;
  --SpaceLeftCookie-: 1rem;

  --imgPaddingfixed: 12rem;
  --imgMargin-: 12rem 0 0 0;

  --AniShowText-: ShowText 2500ms normal;

  --transitionTest-: none;
  --positionH3-: relative;

  /*talvez precise mudar pra peddin... pois se adicionar um elemento vai alterar*/
}

.showBtn {
  display: block;
}

@keyframes Shake {
  from {
    width: var(--imgWidth-);
    rotate: 0deg;
  }
  to {
    width: var(--imgWidth-);
    rotate: 7deg;
  }
}

@keyframes ShowText {
  0% {
    top: 175px;
    height: 3rem;
    width: 7rem;
  }
  25% {
    top: 120px;
    height: 3rem;
    width: 12rem;
  }
  50% {
    top: 75px;
    height: 3rem;
    width: 15rem;
  }
  75% {
    top: 45px;
    height: 3rem;
    width: 17rem;
  }

  100% {
    height: 5;

    top: 0;
    width: initial;
  }
}
